.nav-container {
  background-color: var(--primary-nav-color);
  display: flex;
  padding: 3rem;
  margin-top: 2rem;
}

.unordered-list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  justify-content: flex-start;
  width: 100%;
}

.list-item {
  font-size: 2.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: white;
}

.list-item:last-child {
  margin-left: auto;
}

/* order to style links: link,visited,focus,hover,active. */
.anchor {
  text-decoration: none;
}
