/* Navbar.module.css */
.nav-container {
  background-color: var(--primary-nav-color);
  display: flex;
  padding: 2.6rem 3rem;
  margin-top: 2rem;
  border-radius: var(--primary-border-radius);
}

.unordered-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  justify-content: flex-start;
  width: 100%;
}

.list-item:last-child {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.list-item-active {
  background-color: var(--active-link-color);
  border-radius: var(--link-border-radius);
}

.link {
  text-decoration: none;
  display: block;

  font-size: 2.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: white;
  /* padding: 1rem 2rem; */

  border-radius: var(--link-border-radius);
  transition: all 0.5s ease-in-out;
}

.link-padding {
  padding: 1rem 2rem;
}

.cart-link-padding {
  padding: 1rem 2rem;
}

.active {
  background-color: var(--active-link-color);
  border-radius: var(--link-border-radius);
}

.link:hover:not(.active) {
  background-color: var(--link-hover-effect-color);
  border-radius: var(--link-border-radius);
  cursor: pointer;
}

.anchor:link,
.anchor:visited {
  color: white;
}

.icon-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* shopping cart icon */
ion-icon {
  font-size: 30px;
}

.cart-item-size {
  /* color: transparent; */
  color: var(--primary-nav-color);
  color: orange;
  font-weight: 400;
  font-size: 1.6rem;
  background-color: transparent;
  position: absolute;
  top: 9px;
}
